In [1]:
from libs import *

In [7]:
kc_df_data_asdiv_1 = pd.read_csv('api/common_core_data/Data/ASDiv-100-1st-final.csv')
kc_df_data_asdiv_2 = pd.read_csv('api/common_core_data/Data/ASDiv-100-2nd-final.csv')
kc_df_data_asdiv = pd.concat([kc_df_data_asdiv_1, kc_df_data_asdiv_2], ignore_index=True)

kc_df_data_asdiv = kc_df_data_asdiv.rename(columns={'KC': 'KC applied'})
kc_df_data_asdiv = kc_df_data_asdiv.rename(columns={'Question_ID': 'id'})
# kc_df_data_asdiv['Grade applied'] = kc_df_data_asdiv['KC applied'].apply(lambda x: x.split('.')[0])
kc_df_data_asdiv['KC applied'].value_counts()
# Print all duplicate values in Question_ID column
kc_df_data_asdiv['id'] = kc_df_data_asdiv['id'].astype(str)
# duplicates = kc_df_data_asdiv[kc_df_data_asdiv.duplicated(['Question'], keep=False)].sort_values('id')
# print(duplicates)

In [8]:
kc_df_data_asdiv['Grade applied'] = kc_df_data_asdiv['KC applied'].apply(lambda x: x.split('.')[0])
kc_df_data_asdiv['Grade applied'].value_counts()

Grade applied
2    46
3    44
4    41
6    36
1    20
K    20
5    17
8     2
Name: count, dtype: int64

In [16]:
duplicates

,id,Step_ID,Source,Question,Solution,Step,KC applied,Grade applied
130,1142,1,ASDiv,There are 43 empty seats and 7 occupied seats ...,0.326388889,7+43=50; 7:50,2.OA.A.1,2
131,1142,1,ASDiv,There are 43 empty seats and 7 occupied seats ...,0.326388889,7+43=50; 7:50,6.RP.A.1,6
216,1240,1,ASDiv,An art museum had 15 pictures to split equally...,1 (picture),15/2=7 r1; 2-1=1,K.OA.A.2,K
215,1240,1,ASDiv,An art museum had 15 pictures to split equally...,1 (picture),15/2=7 r1; 2-1=1,4.NBT.B.6,4
59,1419,1,ASDiv,"Five years ago, Nancy was thrice as old as Sam...",50 (years old); 20 (years old),x:Sam's present age; y:Nancy's present age; y-...,5.NBT.B.6,5
58,1419,1,ASDiv,"Five years ago, Nancy was thrice as old as Sam...",50 (years old); 20 (years old),x:Sam's present age; y:Nancy's present age; y-...,3.MD.D.8,3
73,1431,1,ASDiv,Amy travelled 300 km by train and 200 km by ta...,100 (km/hour); 80 (km/hour),x:Speed of train; y:Speed of taxi; (300/x)+(20...,8.EE.C.8,8
72,1431,1,ASDiv,Amy travelled 300 km by train and 200 km by ta...,100 (km/hour); 80 (km/hour),x:Speed of train; y:Speed of taxi; (300/x)+(20...,6.EE.C.9,6
56,1501,1,ASDiv,A rectangle has an area of 360 square centimet...,76 (centimeters),(360/20)*2+20*2=76,3.MD.D.8,3
57,1501,1,ASDiv,A rectangle has an area of 360 square centimet...,76 (centimeters),(360/20)*2+20*2=76,5.NBT.B.6,5
96,1546,1,ASDiv,A container can hold four orange slices. If a ...,3 (slices),329/4=82 r1; 4-1=3,4.NBT.B.6,4
97,1546,1,ASDiv,A container can hold four orange slices. If a ...,3 (slices),329/4=82 r1; 4-1=3,K.OA.A.2,K
119,162,1,ASDiv,I have 28 cents in my pocket. How coins could ...,4 (coins),28/25=1 r3; 3/1=3; 1+3=4,4.NBT.B.6,4
121,162,1,ASDiv,I have 28 cents in my pocket. How coins could ...,4 (coins),28/25=1 r3; 3/1=3; 1+3=4,K.OA.A.2,K
120,162,1,ASDiv,I have 28 cents in my pocket. How coins could ...,4 (coins),28/25=1 r3; 3/1=3; 1+3=4,3.OA.A.3,3
55,1650,1,ASDiv,"For homework, a student had to complete 15 pro...",3:02:00,15-6=9; 9:6=3:2,6.RP.A.1,6
54,1650,1,ASDiv,"For homework, a student had to complete 15 pro...",3:02:00,15-6=9; 9:6=3:2,1.OA.A.1,1
65,2243,1,ASDiv,A new building needed 14 windows. The builder ...,36 (hours),(14-5)*4=36,2.OA.A.1,2
66,2243,1,ASDiv,A new building needed 14 windows. The builder ...,36 (hours),(14-5)*4=36,6.RP.A.1,6
81,2294,1,ASDiv,Rebecca wants to split a collection of eggs in...,8 (groups),16/2=8,3.OA.A.3,3
134,683,1,ASDiv,"Mrs. Hilt had $4,000 in her savings account. S...",4400 (dollars),4000+(4000*0.1*1)=4400,6.RP.A.3,6
135,683,1,ASDiv,"Mrs. Hilt had $4,000 in her savings account. S...",4400 (dollars),4000+(4000*0.1*1)=4400,4.NBT.B.4,4
52,803,1,ASDiv,Mr. Lee wants to load 134 tons of his fruits. ...,2 (small trucks),134/15=8 r14; 14/7=2,5.NBT.B.6,5
53,803,1,ASDiv,Mr. Lee wants to load 134 tons of his fruits. ...,2 (small trucks),134/15=8 r14; 14/7=2,3.OA.A.3,3
165,843,1,ASDiv,There are three bosses in a computer game. Bos...,0.506944444,"(10*60 (min/hour) + 10) + LCM[60,30,40] + 0 = ...",4.MD.A.2,4
166,843,1,ASDiv,There are three bosses in a computer game. Bos...,0.506944444,"(10*60 (min/hour) + 10) + LCM[60,30,40] + 0 = ...",5.NBT.B.6,5
180,846,1,ASDiv,Three workers are working to cut the trees. Wo...,0.391666667,"(7*60 (min/hour) + 48) + LCM[16,32,24] + 0 = 5...",4.MD.A.2,4
181,846,1,ASDiv,Three workers are working to cut the trees. Wo...,0.391666667,"(7*60 (min/hour) + 48) + LCM[16,32,24] + 0 = 5...",5.NBT.B.6,5
108,B,1,ASDiv,Rebecca wants to split a collection of eggs in...,16/2=8,16/2=8,3.OA.A.3,3
110,C,1,ASDiv,At the fair Kaleb bought 6 tickets. After ridi...,(6-3)*9=27,(6-3)*9=27,3.OA.A.3,3
109,C,1,ASDiv,At the fair Kaleb bought 6 tickets. After ridi...,(6-3)*9=27,(6-3)*9=27,K.OA.A.2,K
111,D,1,ASDiv,Dave was working as a sacker at a grocery stor...,(6+2)*6=48,(6+2)*6=48,K.OA.A.2,K
112,D,1,ASDiv,Dave was working as a sacker at a grocery stor...,(6+2)*6=48,(6+2)*6=48,3.OA.A.3,3

In [14]:
kc_df_data_asdiv[kc_df_data_asdiv['Grade applied'] == '8']

,id,Step_ID,Source,Question,Solution,Step,KC applied,Grade applied
73,1431,1,ASDiv,Amy travelled 300 km by train and 200 km by ta...,100 (km/hour); 80 (km/hour),x:Speed of train; y:Speed of taxi; (300/x)+(20...,8.EE.C.8,8
152,1420,1,ASDiv,Seven times a two digit is equal to four times...,12,x:The number of the tens digital; y:The number...,8.EE.C.8,8